/* ===== GENERAL ===== */
body{
    font-family: Arial;
    background: #f5e6d3;
}

/* ===== NAVBAR ===== */
.navbar{
    background: #2c1b12;
}

.nav-link{
    color: #f5e6d3 !important;
}

/* ===== GALERIA ===== */
.galeria img{
    border-radius: 12px;
    transition: 0.3s;
}



/* ===== TITULOS ===== */
h2{
    color: #6b3e26;
}

/* ===== CONTACTO ===== */
.Contacto input,
.Contacto textarea{
    border-radius: 10px;
    border: 1px solid #a47148;
    margin-bottom: 10px;
}

/* ===== FOOTER ===== */
.Foot{
    background: #2c1b12;
    color: #f5e6d3;
    padding: 20px;
}

.Foot h4{
    color: #a47148;
}
/* FOOTER MEJORADO */
.Foot{
    background: #2c1b12;
    color: #f5e6d3;
    padding: 40px 0;
}

.Foot h5{
    color: #a47148;
    margin-bottom: 15px;
}

.Foot a{
    color: #f5e6d3;
    text-decoration: none;
}

.Foot a:hover{
    color: #a47148;
}

.Foot hr{
    border-color: rgba(255,255,255,0.2);
}